{{!< default}}
{{#post}}
  {{#contentFor "meta"}}
    <!-- Classic Meta Tags -->
    <title>{{title}}</title>
    <meta name="description" content="{{excerpt}}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{excerpt}}"/>
    <meta property="og:site_name" content="{{@blog.title}}"/>
    <meta property="og:url" content="{{url absolute="true"}}"/>

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{title}}"/>
    <meta name="twitter:description" content="{{excerpt}}"/>
    <meta name="twitter:creator" content="@whaatt"/>{{/contentFor}}

  <article class="post-container post-container--single">
    <header class="post-header">
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>
  </article>
{{/post}}
